<div class="">
  isArrayExample: {{isArrayExample}}
</div>

<div class="">
  jsMathExample: {{jsMathExample}}
</div>

<div class="">
  jsObjectExample: {{jsObjectExample.test}}
</div>

<div class="">
  javascriptExample: {{javascriptExample}}
</div>